h1 {
    font-size: 35px;
    font-family: Poppins-Bold;
    color: #1e2021;
}

h2 {
    font-size: 33px;
    font-family: Poppins-Medium;
    color: #323538;
}

h3 {
    font-size: 27pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h4 {
    font-size: 22pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h5 {
    font-size: 17pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h6 {
    font-size: 15pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

p {
    font-size: 14pt;
    font-family: Poppins-Regular;
    color: #51555a;
}

$main-color-1: #03a9f4;