ul, ol, h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

h1 {
    font-size: 35px;
    font-family: Poppins-Bold;
    color: #1e2021;
}

h2 {
    font-size: 33px;
    font-family: Poppins-Medium;
    color: #323538;
}

h3 {
    font-size: 27pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h4 {
    font-size: 22pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h5 {
    font-size: 17pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

h6 {
    font-size: 15pt;
    font-family: Poppins-Medium;
    color: #1e2021;
}

p {
    font-size: 14pt;
    font-family: Poppins-Regular;
    color: #51555a;
}

.span-blue {
    color: #0287c3;
    font-size: 15px;
    font-family: Poppins-Regular;
}

.span-white {
    color: white;
    font-size: 15px;
    font-family: Poppins-Regular;
}

.btn-blue {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Poppins-Medium;
    background-color: #0287c3;
}

.btn-blue:hover {
    background-color: #c0e9fc;
    color: #0287c3;
}

.btn-orange {

}

.btn-orange:hover {

}

$main-color-1: #03a9f4;