.topnav-bg {
    background-color: $main-color-1;
    
    div {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                margin: 0 20px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    font-family: Poppins-SemiBold;
                    vertical-align: middle;
                }
                
                &:nth-child(1):hover, &:nth-child(2):hover, &:nth-child(3):hover {
                    text-decoration: underline;
                    color: white;
                }

                &:nth-child(4) {
                    background: url(../img/phone.png);
                    height: 31px;
                    width: 31px;
                    background-repeat: no-repeat;
                }

                &:nth-child(4):hover{
                    background: url(../img/phone-hover.png);
                }

                &:nth-child(5) {
                padding: 5px 20px;
                background-color: #0287c3;
                border-radius: 3px;
                margin-right: 10px;
                }

                &:nth-child(5):hover {
                background-color: #c0e9fc;
                }
            
                &:nth-child(6) {
                padding: 5px 20px;
                background-color: #f75e2e;
                border-radius: 3px;
                }

                &:nth-child(6):hover {
                background-color: #fa9e82;
                }

                &:nth-child(7) {
                background: url(../img/burger.png);
                height: 17px;
                width: 22px;
                background-repeat: no-repeat;
                }

                &:nth-child(7):hover{
                background: url(../img/burger-hover.png);
                }

            }

        }
                
    }
}

.banner-bg {
    background-color: #e6f7fe;
    background-image: url(../img/img-cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;

    div {
        position: relative;
    }

    .col-8 {
        padding: 50px 0;

        h1 {
            font-family: Poppins-Bold;
            font-size: 47px;

            &:nth-child(1) {
                color: #03a9f4;
            }

            &:nth-child(2) {
                color: #323538;
            }
        }

        span {
            margin: 30px 0;
            display: inline-block;
            width: 15%;
            position: relative;
            background-color: #f75e2e;
            height: 3px;

            &:nth-child(4) {
                height: 1px;
                width: 85%;
                background-color: #b0bcc2;
            }
        }

        p {
            margin: 20px 0;
            font-size: 20px;
        }

        a {
            display: inline-block;
            padding: 15px 50px;
            margin: 10px 0;
            color: white;
            background-color: #f75e2e;
            font-size: 14px;
            font-family: Poppins-SemiBold;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 3px;

            &:hover {
                background-color: #fa9e82;
            }
        }
    }

    .col-4 {
        padding: 0;

        img {
            position: absolute;
            bottom: -15px;
            right: 60px;
            z-index: 1;
        }
    }

    .section {
        position: absolute;
        background-color: #03a9f4;
        color: white;
        padding: 35px;
        width: 100%;
        left: 0;

        form {

            div {
                display: inline-block;

                &:not(:last-child) {
                padding-right: 35px;
                }

                label {
                    font-family: Poppins-Medium;
                    font-size: 14px;
                }

                select {
                    font-family: 13px;
                    font-family: Poppins-Regular;
                    border: 1px solid #d8dadb;
                    color: #656a70;
                    width: 218px;
                    padding: 12px 18px;
                }

                a {
                    padding: 16px 77px;
                    background-color: #0287c3;
                    text-decoration: none;
                    color: white;
                    border-radius: 3px;
                }

                a:hover {
                    background-color: #c0e9fc;
                    color: #0287c3;
                }
            }
        }
    }

}