.topnav-bg {
    background-color: $main-color-1;
    
    div {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                display: inline-block;
                margin: 0 20px;
                position: relative;

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    font-size: 12pt;
                    font-family: Poppins-SemiBold;
                }

                &:nth-child(1), &:nth-child(2) {
                    .dropdown {
                        display: none;
                        position: absolute;
                        z-index: 10;
                        left: -10px;
                        min-width: 100%;
                        width: 115px;
                        background-color: white;
                        border: 1px solid #d8dadb;
                        border-radius: 3px;

                        li {
                            display: block;
                            margin: 0;
                            padding: 10px;

                            a {
                                color: #656a70;
                                font-size: 14pt;
                                font-family: Poppins-Regular;
                                text-transform: none;
                            }

                            &:hover {
                                background-color: #e6f7fe;
                            }
                        }
                    }

                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }

                &:nth-child(1):hover, &:nth-child(2):hover, &:nth-child(3):hover {
                    text-decoration: underline;
                    color: white;
                }

                &:nth-child(4) {
                    background: url(../img/phone.png);
                    height: 31px;
                    width: 31px;
                    background-repeat: no-repeat;
                }

                &:nth-child(4):hover{
                    background: url(../img/phone-hover.png);
                    cursor: pointer;
                }

                &:nth-child(5) {
                    a {
                        padding: 8px 20px;
                    }
                }
            
                &:nth-child(6) {
                    a {
                        padding: 8px 20px;
                    }
                }

                &:nth-child(7) {
                background: url(../img/burger.png);
                height: 17px;
                width: 22px;
                background-repeat: no-repeat;
                }

                &:nth-child(7):hover{
                background: url(../img/burger-hover.png);
                cursor: pointer;
                }

            }

        }
                
    }

}

.banner-bg {
    background-color: #e6f7fe;
    background-image: url(../img/img-cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
        padding: 100px 0;
        position: relative;
    }

    .col-8 {
        padding: 50px 0;

        h1 {
            font-family: Poppins-Bold;
            font-size: 47px;

            &:nth-child(1) {
                color: $main-color-1;
            }

            &:nth-child(2) {
                color: #323538;
            }
        }

        span {
            margin: 30px 0;
            display: inline-block;
            width: 15%;
            position: relative;
            background-color: #f75e2e;
            height: 3px;

            &:nth-child(4) {
                height: 1px;
                width: 85%;
                background-color: #b0bcc2;
            }
        }

        p {
            margin: 20px 0;
            font-size: 20pt;
        }

        a {
            padding: 15px 50px;
            margin: 10px 0;
        }
    }

    .col-4 {
        padding: 0;

        img {
            position: absolute;
            bottom: 85px;
            right: 60px;
            z-index: 1;
        }
    }

    .section {
        position: absolute;
        background-color: $main-color-1;
        color: white;
        padding: 35px;
        width: 100%;
        left: 0;

        form {

            div {
                display: inline-block;

                &:not(:last-child) {
                padding-right: 35px;
                }

                label {
                    font-family: Poppins-Medium;
                    font-size: 14pt;
                    margin-bottom: 10px;
                }

                select {
                    font-size: 13pt;
                    font-family: Poppins-Regular;
                    border: 1px solid #d8dadb;
                    color: #656a70;
                    width: 215px;
                    padding: 12px 18px;
                    cursor: pointer;

                    option {
                        font-size: 13pt;
                        font-family: Poppins-Regular;
                        color: #656a70;
                        width: 215px;
                        padding: 12px 18px;
                    }
                }

                &:nth-child(4) {
                    input {
                        margin: 0;
                        padding: 0;
                        height: 54px;
                        width: 108px;
                        border: 1px solid #d8dadb;
                        color: #656a70;
                        text-align: center;
                    }

                    button {
                        margin: 0;
                        width: 54px;
                        height: 54px;
                        border: 1px solid #d8dadb;
                        color: #656a70;
                        background-color: white;
                    }
                }

                a {
                    padding: 16px 66px;
                }
            }
        }
    }
}

