.testimonials {
    text-align: center;

    .container {
        padding: 250px 0 70px;
        position: relative;

        @media screen and (max-width:1199px) {
            padding: 250px 0 70px;
        }
        
        @media screen and (max-width:523px) {
            padding: 300px 0 70px;
        }

        span {
            &:nth-child(1){
                padding: 30px 0 15px;
            }
        }

        h2 {
            padding: 15px 0;
        }

        img {
            padding: 30px 0;
        }

        p {
            padding: 0 175px;

            @media screen and (max-width:992px) {
                padding: 0;
            }
        }

        h5 {
            padding: 15px 0 0;
            color: #0287c3;
            font-family: Poppins-SemiBold;
            font-size: 17pt;
        }

        &:last-child {
            color: #a3a6a9;
            font-size: 13pt;
            font-family: Poppins-Light;
        }

        .arrow {
            position: absolute;
            top: 55%;
            left: -100px;

            @media screen and (max-width:1518px) {
                left: 0px;
            }
        }

        .arrow-right {
            position: absolute;
            top: 55%;
            right: -100px;

            @media screen and (max-width:1518px) {
                right: 0px;
            }
        }
        
        @media screen and (max-width:767px) {
            h2 {
                font-size: 25px;
            }

            h5 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }

            span {
                font-size: 12px;
            }
        }
    }

    @media screen and (max-width:992px) {
        padding: 0;

        a {
            display: none;
        }
    }
}