.welcome {
    padding: 100px 0;

    .col-lg-6 {
        
        img {
            width: 100%;
            height: auto;
        }
        
        &:nth-child(2) {
            h1 {
                padding: 20px 0;
            }
        }
    }
}