<div class="container-fluid advantages-bg">
  <div class="container">
    <div class="row">
      <div class="col"><span class="span-white">02 Our advantages</span></div>
    </div>
    <div class="row">
      <div class="col"><h2>Advantages of Our Writing Services</h2></div>
    </div>
    <div class="row">
      <div class="col info-block">
        <img src="../../../assets/img/02-img-1.png" alt="img" />
        <h5>Professionally-qualified writing experts</h5>
        <p>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born
        </p>
      </div>
      <div class="col info-block">
        <img src="../../../assets/img/02-img-1.png" alt="img" />
        <h5>Commitment to deliver papers by deadline</h5>
        <p>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born
        </p>
      </div>
      <div class="col info-block">
        <img src="../../../assets/img/02-img-1.png" alt="img" />
        <h5>Top-quality, at a great price - guaranteed</h5>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#" class="btn-blue">Place an order</a>
        </div>
    </div>
  </div>
</div>
