<div class="container-fluid advantages-bg">
  <div class="container">
    <span class="span-white">02 Our advantages</span>
    <h2>Advantages of Our Writing Services</h2>
    <div class="info-blocks">
      <div class="info-block">
        <img src="../../../assets/img/02-img-1.png" alt="img" />
        <h5>Professionally-qualified writing experts</h5>
        <p>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born
        </p>
      </div>
      <div class="info-block">
        <img src="../../../assets/img/02-img-2.png" alt="img" />
        <h5>Commitment to deliver papers by deadline</h5>
        <p>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born
        </p>
      </div>
      <div class="info-block">
        <img src="../../../assets/img/02-img-3.png" alt="img" />
        <h5>Top-quality, at a great price - guaranteed</h5>
        <p>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born
        </p>
      </div>
    </div>
    <a href="#" class="btn-blue">Place an order</a>
  </div>
</div>
