<div class="container-fluid discounts">
  <div class="container">
      <span class="span-white"> 04 Discounts </span>
      <h2>Our discount program</h2>
      <p class="subtitle">
        By utilizing elements and principles of Material Design, we were able to
        create a framework that incorporates
      </p>
    <div class="row discount-block">
      <div class="col-lg-7 col-sm-12">
        <div class="row">
          <div class="col-6">
              <h1>
                4% <br />
                off
              </h1>
              <p>for more than</p>
              <h5>15 pages</h5>
          </div>
          <div class="col-6">
              <h1>
                5% <br />
                off
              </h1>
              <p>for more than</p>
              <h5>20 pages</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
              <h1>
                10% <br />
                off
              </h1>
              <p>for more than</p>
              <h5>50 pages</h5>
          </div>
          <div class="col-6">
              <h1>
                15% <br />
                off
              </h1>
              <p>for more than</p>
              <h5>100 pages</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <div>
          <p>try our service & get huge discounts</p>
          <div class="inside-block">
            <img src="../../../assets/img/stars.png" alt="img" />
            <img src="../../../assets/img/scissors.png" alt="img" />
            <span>get</span>
            <span
              >15% <br />
              off</span
            >
            <span>for your 1st order</span>
          </div>
          <span>Use discount15 as discount code</span>
          <img src="../../../assets/img/balloon.png" alt="img" />
        </div>
      </div>
    </div>
  </div>
</div>
