<div class="container-fluid footer">
  <div class="container">
    <div class="foot-nav">
      <div>
        <a href="#"><img src="../../../assets/img/logo.png" alt="logo" /></a>
      </div>

      <div class="nav">
        <ul>
          <li>
            <a href="#">home</a>
          </li>
          <li>
            <a href="#">about us</a>
          </li>
          <li>
            <a href="#">order now</a>
          </li>
          <li>
            <a href="#">disclaimer</a>
          </li>
          <li>
            <a href="#">why us</a>
          </li>
          <li>
            <a href="#">contacts</a>
          </li>
          <li>
            <a href="#">blog</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="foot-links">
      <div class="row">
        <div class="col"><h5>Section number 1</h5></div>
        <div class="col d-none d-sm-block"><h5>Section number 2</h5></div>
        <div class="col d-none d-md-block"><h5>Section number 3</h5></div>
        <div class="col d-none d-lg-block"><h5>Section number 4</h5></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">But I must explain to you how</a></div>
        <div class="col d-none d-sm-block"><a href="#">But I must explain to you how</a></div>
        <div class="col d-none d-md-block"><a href="#">But I must explain to you how</a></div>
        <div class="col d-none d-lg-block"><a href="#">But I must explain to you how</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-sm-block"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-md-block"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-lg-block"><a href="#">Mistaken idea of denouncing</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-sm-block"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-md-block"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-lg-block"><a href="#">Praising pain was born</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Account of the system</a></div>
        <div class="col d-none d-sm-block"><a href="#">Account of the system</a></div>
        <div class="col d-none d-md-block"><a href="#">Account of the system</a></div>
        <div class="col d-none d-lg-block"><a href="#">Account of the system</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Great explorer of the truth</a></div>
        <div class="col d-none d-sm-block"><a href="#">Great explorer of the truth</a></div>
        <div class="col d-none d-md-block"><a href="#">Great explorer of the truth</a></div>
        <div class="col d-none d-lg-block"><a href="#">Great explorer of the truth</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">No one rejects, dislikes</a></div>
        <div class="col d-none d-sm-block"><a href="#">No one rejects, dislikes</a></div>
        <div class="col d-none d-md-block"><a href="#">No one rejects, dislikes</a></div>
        <div class="col d-none d-lg-block"><a href="#">No one rejects, dislikes</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-sm-block"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-md-block"><a href="#">Mistaken idea of denouncing</a></div>
        <div class="col d-none d-lg-block"><a href="#">Mistaken idea of denouncing</a></div>
      </div>
      <div class="row">
        <div class="col"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-sm-block"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-md-block"><a href="#">Praising pain was born</a></div>
        <div class="col d-none d-lg-block"><a href="#">Praising pain was born</a></div>
      </div>
    </div>

    <hr />

    <div class="foot-info">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <span>Copyright В© 2017 BlueEssaySite.net <br>
            All rights reserved.</span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 img">
          <a href="#"><div class="img"></div></a>
          <a href="#"><div class="img"></div></a>
          <a href="#"><div class="img"></div></a>
          <a href="#"><div class="img"></div></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <img src="../../../assets/img/footer-phone.png" alt="img" />
          <div>
          <span> Toll free:</span><br>
          <span class="cellphone">+ 3 044 111 2732</span></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <img src="../../../assets/img/footer-email.png" alt="img" />
          <span>Email:<br>
          blueessaysite@gmail.com </span>
        </div>
      </div>
    </div>
  </div>
</div>
