<div class="container-fluid topnav-bg">
  <div class="container">
    <div class="logo">
      <a href="#"><img src="../../../assets/img/logo.png" alt="logo" /></a>
    </div>
    <div class="topnav">
      <ul>
        <li><a href="">services</a></li>
        <li><a href="">about us</a></li>
        <li><a href="#">how it works</a></li>
        <li>
          <a href=""
            ><img src="../../../assets/img/phone.png" alt="phone-icon"
          /></a>
        </li>
        <li><a href="">sign in</a></li>
        <li><a href="">order</a></li>
        <li>
          <a href=""
            ><img src="../../../assets/img/burger.png" alt="burger-icon"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
