<div class="container-fluid topnav-bg">
  <div class="container">
    <div class="logo">
      <a href="#"><img src="../../../assets/img/logo.png" alt="logo" /></a>
    </div>

    <div class="topnav">
      <ul>
        <li>
          <a href="#">services <i class="fa-solid fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">about us <i class="fa-solid fa-caret-down"></i></a>
        </li>
        <li><a href="#">how it works</a></li>
        <li>
          <a href="#"></a>
        </li>
        <li><a href="#" class="btn-blue">sign in</a></li>
        <li><a href="#" class="btn-orange">order</a></li>
        <li>
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid banner-bg">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>BlueEssaySite.net -</h1>
        <h1>expert help for custom Written</h1>
        <span></span><span></span>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized
        </p>
        <a href="#" class="btn-orange">place an order</a>
      </div>
      <div class="col-4">
        <img src="../../../assets/img/girl.png" alt="girl" />
      </div>
    </div>
    <div class="section">
      <form action="#">
        <div>
          <div>
            <label for="option1">Type of paper</label><br />
            <select id="option1" name="option1">
              <option value="option1">Placeholder text</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div>
            <label for="option2">Writer lever</label><br />
            <select id="option2" name="option2">
              <option value="option1">High school</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div>
            <label for="option3">Urgency</label><br />
            <select id="option3" name="option3">
              <option value="option1">21 days</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div>
            <label for="button"></label>
            <button type="button"><i class="fa-solid fa-minus"></i></button
            ><input type="text" placeholder="2" /><button type="button">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div>
            <a href="#" class="btn-blue">Continue</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
