<div class="container-fluid">
  <div class="container how-it-works">
    <div class="row">
      <div class="col">
        <span class="span-blue"> 03 How it works </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Our Simple 4-Step Procedure</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <img src="../../../assets/img/03-img-1.png" alt="img" />
        <h5>step 1</h5>
        <p>
          Complete the short order form to buy a paper from our easy essay
          writing service.
        </p>
      </div>
      <div class="col-lg-3 col-xs-12">
        <img src="../../../assets/img/03-img-2.png" alt="img" />
        <h5>step 2</h5>
        <p>
          We allocate your order to a suitably-qualified writer with specialist
          knowledge in, for example, persuasive essay writing if that is what
          you want.
        </p>
      </div>
      <div class="col-lg-3 col-xs-12">
        <img src="../../../assets/img/03-img-3.png" alt="img" />
        <h5>step 3</h5>
        <p>
          Our Quality Assurance specialists then check the completed paper to
          ensure the essay writing is of the highest standard
        </p>
      </div>
      <div class="col-lg-3 col-xs-12">
        <img src="../../../assets/img/03-img-4.png" alt="img" />
        <h5>step 4</h5>
        <p>
          The order you placed with our essay writing service is then sent to
          you before the deadline you set and is accompanied by several
          free-of-charge features.
        </p>
      </div>
    </div>
  </div>
</div>
