<div class="container-fluid testimonials">
  <div class="container">
    <span class="span-blue">05 Testimonials</span>
    <h2>What our clients says</h2>
    <img src="../../../assets/img/05-user-01.png" alt="img" />
    <p>
      Using BestEssayService.net was possibly the best choice of my
      academic career. Even though I work full-time, I managed to submit
      all my assignments on time owing to the broad array of services on
      offer. No matter what written work I needed, help was available. I
      would give a full ten marks.
    </p>
    <h5>Lorna Grey</h5>
    <span>20 apr 2016 at 8:23</span>
    <img src="../../../assets/img/arrow.png" alt="img" class="arrow">
    <img src="../../../assets/img/arrow-right.png" alt="img" class="arrow-right">
    </div>
  </div>
</div>
