<div class="container-fluid testimonials">
  <div class="container">
    <span class="span-blue">05 Testimonials</span>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <h2>What our clients says</h2>
            <img src="../../../assets/img/05-user-01.png" alt="img" />
            <p>
              Using BestEssayService.net was possibly the best choice of my
              academic career. Even though I work full-time, I managed to submit
              all my assignments on time owing to the broad array of services on
              offer. No matter what written work I needed, help was available. I
              would give a full ten marks.
            </p>
            <h5>Lorna Grey</h5>
            <span>20 apr 2016 at 8:23</span>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <h2>What our clients says</h2>
            <img src="../../../assets/img/05-user-02.png" alt="img" />
            <p>
              Jane Austennwas
              an English novelist known primarily for her six novels, which
              implicitly interpret, critique, and comment upon the British
              landed gentry at the end of the 18th century. Austen's plots often
              explore the dependence of women on marriage for the pursuit of
              favourable social standing and economic security. 
            </p>
            <h5>Jane Austen</h5>
            <span>16 Dec 1775 at 6:04</span>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <h2>What our clients says</h2>
            <img src="../../../assets/img/05-user-03.png" alt="img" />
            <p>
              John Doe are multiple-use placeholder names that are used in the
              United States and the United Kingdom when the true name of a
              person is unknown or is being intentionally concealed. In the
              context of law enforcement in the United States, such names are
              often used to refer to a corpse whose identity is unknown or
              cannot be confirmed.
            </p>
            <h5>John Doe</h5>
            <span>7 Nov 1985 at 7:07</span>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
