<div class="container-fluid">
  <div class="container welcome">
    <div class="row">
      <div class="col-6">
        <img src="../../../assets/img/01-img.png" alt="01-img" />
      </div>
      <div class="col-6">
        <span class="span-blue">01 Welcome to Sitename</span>
        <h1>Do you need essay help from a good writing service?</h1>
        <p>
          If you need to buy papers or custom essays, you have arrived at the
          ideal place! We offer guarantees that any essay work provided by our
          professional writing services will be entirely free of plagiarism and
          100% freshly written. At BestEssayService.net, we make sure our
          customers are fully satisfied every time they use our custom term
          paper writing service. <br />
          </p><p>
          Our essay and research paper writing services are provided by a large
          team of editing, writing and research specialists who can help you
          with all types of coursework, whether you have essays, term papers,
          research papers, theses or dissertations to complete. Our essay
          writers are able to help you with all subject matters for all
          education levels, no matter if you are a high school student or
          studying for a PhD or Master's degree.
        </p>
      </div>
    </div>
  </div>
</div>
